/* Defaults for all elements */\
* {
  box-sizing: border-box;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

html, body, main {
  height: 100%;
  margin: 0;
}

a {
  color: #99CBA0;
}

.start-header {
  margin-left: 100px;
}

p {
  font-size: 18px;
  font-family: 'Asap', sans-serif;
}

.app-description {
  font-size: 18px;
  padding-bottom: 50px;
}

h1 {
  font-size: 34px;
  font-family: 'Asap', sans-serif;
}

/* Navigation */

nav {
  border-bottom: 1px solid #e5e5e5;
  background: #ffffff;
}

.logo-section {
  padding: 20px 0px 20px 20px;
  display: inline-block;
}

.new-search-button {
  padding: 10px;
  font-family: 'Asap', sans-serif;
  font-size: 90%;
  border-radius: 3px;
  border: none;
  background-color: #14537d;
  color: white;
  margin: 14px;
}

.new-search {
  float: right;
}

/* Form Styling */

.bottom-form {
  background: #99CBA0;
}

#findadoc {
  padding-left: 100px;
}

#findadoc2 {
  text-align: center;
  padding: 50px 0px 50px 0px;
}

#doc-search-form {
  background-image: url(http://i63.tinypic.com/2v93f43.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding-top: 50px;
}

fieldset {
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #F6F6F6 !important;
  font-size: 0;
  display: inline-block;
}

label {
  font-family: 'Asap', sans-serif;
  text-align: left;
  padding-bottom: 10px;
  color: #14537d;
  font-size: 16px;
  cursor: pointer;
}

.row {
  display: inline-block;
  width: 100%;
}

.field {
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
  text-align: left;
}


input {
  height: 44px;
  width: 100%;
  color: #3b3434;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
}

.start-cta {
  padding: 20px 50px;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 3px;
  border: none;
  background-color: #14537d;
  color: white;
}

.specialty-dropdown, .gender-dropdown {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("http://i65.tinypic.com/1znwo53.png") no-repeat right center;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  padding-left: 10px;
  height: 44px;
  width: 100%;
  color: #14537d;
  background-color: #ffffff;
}

.dropdown select {
  border: 1px solid #ccc;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  height: 34px;
  width: 268px;
  color: #14537d;
}

.cta-row {
  text-align: center;
}

/* Value props styling */

.value-section {
  padding-top: 100px;
  padding-bottom: 300px;
}

.value-prop {
  margin-top: 200px;
  padding-top: 50px;
}

.value-image {
  margin-left: 200px;
  float: left;
}

.value-text {
  width: 50%;
  line-height: 2em;
  margin-left: 30px;
  margin-right: 200px;
  float: right;
}

.value-header {
  font-family: 'Asap', sans-serif;
}

/* Footer styling */

.footer {
  background: #99CBA0;
  padding: 50px;
  text-align: center;
}

.github-link {
  color: white;
  text-decoration: none;
  font-family: 'Asap', sans-serif;
}

.github-link:hover {
  text-decoration: underline;
}

.github-link:active {
  color: black;
}

.github-link:visited {
  color: purple;
}

/* Results styling */

#loader {
  margin-top: 50px;
  display: none;
}

#doc-results {
  display: none;
  text-align: center;
  margin: 0 auto;
  background: #F5F9FC;
}

#map, #profile-map {
  width: 100%;
  height: 400px;
}

.results {
  width: 80%;
  margin: 0 auto;
}

.total-results {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 120%;
}

/* doctor profile styling */


.doctor-profile {
  padding: 10px 14px 10px 14px;
  font-size: 100%;
  border-radius: 3px;
  border: none;
  background-color: #14537d;
  color: white;
}

.img-circle {
  border-radius: 10%;
}

.info-section {
  margin-left: 20px;
}

.card-content, .info-section {
  -webkit-box-shadow: 0 8px 6px -10px black;
  -moz-box-shadow: 0 8px 6px -10px black;
  box-shadow: 0 8px 6px -10px black;
  background: white;
  display: inline-block;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #E6EFF5;
  padding: 14px;
  margin-top: 20px;
  text-align: left;
}

.doc-image, .doctor-info, .doctor-profile-button, .new-search {
  display: inline-block;
  padding-left: 30px;
}

.doctor-profile-button {
  float: right;
  padding-right: 30px;
  margin-top: 30px;
}

.doctor-info-window {
  text-align: left;
  padding-bottom: 20px;
}

/* Profile styling */

#profile-map {
  display: none;
  position: absolute !important;
  width: 100%;
}

ul {
  list-style-type: none;
}

#doc-profile {
  display: none;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 420px;
  background: #F5F9FC;
}

.back-to-results {
  padding-left: 34px;
}

#doctor-profile-container {
  display: none;
  width: 100%;
  height: 100%;
}

/* Mobile Responsive */

@media only screen and (max-width: 768px) {

  #doc-search-form {
  background: #E6EFF5;
  padding: 10px;
  }

  #findadoc {
    padding: 0px 30px 0px 30px;
  }

  .start-header {
    margin: 0px 30px 0px 30px;
  }

  input,
  .dropdown, .doctor-list, .results-overview, .doctor-image {
    width: 100%;
  }

  .start-cta, .field, .input {
    width: 100%;
  }

  .card-content, .info-section {
    width: 85%;
  }

  .doctor-profile-button {
    float: left;
    padding-right: 30px;
    margin-top: 10px;
  }

  .map {
    width: 100%;
    height: auto;
  }

  .specialty-dropdown, .gender-dropdown {
    width: 100%;
  }

  /* Value props styling */

  .value-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .value-prop {
    margin-top: 100px;
    padding-top: 30px;
  }

  .value-image {
    display: none;
  }

  .value-text {
    width: 80%;
    line-height: 2em;
    margin: 0px 30px 0px 30px;
  }

}
