/* Defaults for all elements */
* {
  font-family: 'Amiri', serif;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  background-size: cover;
  height: 100%;
}

.start-header {
  width: 70%;
  margin: 0 auto;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 34px;
  padding-bottom: 50px;
}

/* navigation */
.logo-section{
  background-color:#feecec;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Form Styling */
#doc-search-form {
  background: #FFECEC;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #14537d;
  margin: 0 auto;
}

fieldset { 
  border:none;
  font-size: 0; 
}

.field {
  padding-bottom: 30px;
  width: 100%;
  float: left;
}

label {
  padding-bottom: 10px;
  color: #14537d;
  font-size: 16px;
  cursor: pointer;
}

input {
  height: 33px;
  width: 50%;
  color: #3b3434;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
}

.start-cta {
  padding: 20px 40px 20px 40px;
  font-size: 120%;
  font-weight: bolder;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
  background-color: #14537d;
  color: white;
}

.dropdown{
  -webkit-appearance: none;
   background: url(http://i67.tinypic.com/11qjmhl.png) no-repeat right center;
   font-size: 16px;
   padding-left: 4px;
   height: 33px;
   width: 50%;
   color: #14537d;
}

.dropdown select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   color: #14537d;
}

/* results styling */

#doc-results {
  display: none;
  text-align: center;
  background: #FFECEC;
}

.map {
  padding-bottom: 30px;
  width: 100%;
  height: auto;
}

.doctor-list {
  width: 80%;
  padding-top: 100px;
  margin: 0 auto;
}

.results-overview {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.data-string {
  float: left;
  width: 50%;
  margin: 0 auto;
}

.new-search-button {
  float: right;
  width: 50%;
}

.new-search, .doctor-profile {
  padding: 10px 14px 10px 14px;
  font-size: 100%;
  border-radius: 3px;
  border: none;
  background-color: #14537d;
  color: white;
}

.card-content {
  background: white;
  display: inline-block;
  width: 80%;
  border: 1px solid grey;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.doctor-image {
  float: left;
  width: 20%;
}

.doctor-info {
  text-align: left;
}

/* profile styling */

.doctor-profile-view {
  width: 80%;
  margin: 0 auto;
}

.info-section {
  text-align: left;
  width: 50%;
  border: 1px solid grey;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

#doc-profile {
  display: none;
  text-align: center;
  background: #FFECEC;
  padding-bottom: 200px;
}

/* Mobile Responsive */
@media only screen and (max-width: 768px) {

  input, .dropdown, .doctor-list, .results-overview {
    width: 100%;
  }

  .start-cta {
    width: 100%;
  }

  .card-content, .info-section {
    width: 100%;
  }

}

